@{
    ViewBag.Title = "Bienvenidos";
}
<div class="jumbotron">
    <h1 class="display-4">Bienvenidos a Musical</h1>
    <p class="lead">Un espacio para poder ver todo acerca de tus conciertos, y tus artistas favoritos</p>
    <hr class="my-4">
    <p>Para poder ver mas necesitas tener una cuenta de usuario</p>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>xx</h5>
                        <div class="card-body">lorem ipsum</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>xx</h5>
                        <div class="card-body">lorem ipsum</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>xx</h5>
                        <div class="card-body">lorem ipsum</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>